{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
{{block.super}}
{% jsinclude "nm,sparkline" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
{% nm_js_support %}

$(function() {
    $(".mbox_sparkline").sparkline("html", {
      type: "bar",
      barColor: "#005382",
      negBarColor: "#823000",
      chartRangeMin: 0,
      chartRangeMax: 30
    });
});
</script>
{% endblock %}

{% block content %}

<h1>Application status for {{person.fullname}}</h1>


<h2>Personal information</h2>

<table class="personinfo">
    <tr><th>Applicant</th><td><a href="{{person.get_absolute_url}}">{{person.fullname}} &lt;{{person.preferred_email}}&gt;</a></td></tr>
    <tr><th>Received application</th><td>{{started|date:"Y-m-d"}}</td></tr>
    <tr><th>Time of Last Action</th><td>{{last_change|date:"Y-m-d"}}</th></tr>
    <tr>
        <th>Advocate{{process.advocates.count|pluralize}}</th>
        <td>
            {% for a in process.advocates.all %}
            <a href="{{ a.get_absolute_url }}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr><th>Account name</th><td>{{person.uid|default:"none chosen yet"}}</td></tr>
    {% with fpr=person.fingerprint %}
    <tr>
      <th>OpenPGP fingerprint</th>
      <td>
        {{fpr.fpr|fingerprint}}{% if "edit_fpr" in visit_perms %} (<a href="{% url 'fprs_person_list' key=person.lookup_key %}">manage</a>){% endif %}
        {% if fpr %}
        <small>
        <ul class="packed">
          {% if keycheck %}
          <li>Main key: <i>{{keycheck.main.remarks}}</i> (last updated: {{keycheck.updated|date:"Y-m-d H:i T"}})</li>
          {% for uid in keycheck.uids %}
          <li>{{uid.name}}: <i>{{uid.remarks}}</i>, <i>{{uid.sigs_ok}}</i> DD sigs, <i>{{uid.sigs_no_key}}</i> non-DD sigs</li>
          {% endfor %}
          {% endif %}
        </ul>
        </small>
        {% endif %}
      </td>
    </tr>
    {% endwith %}
    {% if process.manager %}
    <tr><th>Manager</th><td><a href="{{process.manager.get_absolute_url}}">{{process.manager.person.uid}}</a></td></tr>
    {% endif %}
    <tr><th>Process</th><td>{{process.applying_as|desc_status}} → {{process.applying_for|desc_status}}</td></tr>
    <tr><th>Progress</th><td>{{process.progress|desc_progress}}</td></tr>
    <tr><th>Account created</th><td>{% if process.progress == PROGRESS_DONE %}yes{% else %}no{% endif %}</td></tr>
    {% if visitor.is_admin %}
    <tr><th>FD comments</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
    {% if "view_mbox" in visit_perms %}
    <tr><th>Mail archive</th>
        <td>
            <tt><a href="mailto:{{process.archive_email}}">{{process.archive_email}}</a></tt>
            {% if process.mailbox_file %}
            <a href="{% url 'legacy_download_mail_archive' key=process.lookup_key %}">(download mail archive)</a>
            <a href="{% url 'legacy_display_mail_archive' key=process.lookup_key %}">(display mail archive)</a>
            {% else %}
            (no mail archive yet)
            {% endif %}
        </td>
    </tr>
    {% if mbox_stats %}
    <tr><th>Mailbox stats</th>
        <td>{{mbox_stats.date_first_py|date:"Y-m-d"}} to {{mbox_stats.date_last_py|date:"Y-m-d"}},
            {{mbox_stats.num_mails}} mails,
            <br>
            {% if mbox_stats.median_py %}
              {% if mbox_stats.median_py.days %}{{mbox_stats.median_py.days}}d {% endif %}{{mbox_stats.median_hours}}h median response time
            {% endif %}
            <span class="mbox_sparkline" values="{{mbox_stats.response_time|join:","}}"></span>
        </td>
    </tr>
    {% endif %}
    {% endif %}
</table>


<h2>Process log</h2>

<table>
<thead>
    <tr>
        {% if visitor.is_admin %}
        <th>Actions</th>
        {% endif %}
        <th>Date</th>
        <th>Changed by</th>
        <th>Progress</th>
        {% if visitor.am %}
        <th>Text</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for l in log %}
    <tr>
        {% if visitor.is_admin %}
        <td><a href="{% url 'admin:backend_log_change' l.id %}">edit</a></td>
        {% endif %}
        <td>{{l.logdate|date:"Y-m-d"}}</td>
        <td>
            <a href="{{l.changed_by.get_absolute_url}}">{{l.changed_by.uid}}</a>
        </td>
        <td>{{l.progress|desc_progress}}</td>
        {% if visitor.am %}
        <td>{{l.logtext}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
